@charset "UTF-8";

/*setting*/
#root, html, body {
    overflow-x: hidden;
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
}


* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

*,
*::before,
*::after {
    /* 테두리를 기준으로 크기를 정합니다. */
    box-sizing: border-box;
    font-family: 'nanum_gothic';
}

/* 텍스트 마우스 드래그시 색상 변경방법 */
::selection,
::-moz-selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

/*font*/
@font-face {
    font-family: 'nanum_gothic';
    src: url("./../../assets/font/Nanum_Gothic/NanumGothic-Regular.ttf");
}

@font-face {
    font-family: 'nanum_gothic_bold';
    src: url("./../../assets/font/Nanum_Gothic/NanumGothic-Bold.ttf");
}

@font-face {
    font-family: 'nanum_gothic_extra_bold';
    src: url("./../../assets/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf");
}

@font-face {
    font-family: 'gamja_flower';
    src: url("./../../assets/font/Gamja_Flower/GamjaFlower-Regular.ttf");
}