@charset "UTF-8";

/*setting*/
#root {
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
    scroll-behavior: smooth;
}

.container {
    width: 100vw;
    height: 100vh;
}

/*스크롤바 숨김*/
body::-webkit-scrollbar {
    display: none;
}


* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

*,
*::before,
*::after {
    /* 테두리를 기준으로 크기를 정합니다. */
    box-sizing: border-box;
    font-family: 'nanum_gothic';
}

/* 텍스트 마우스 드래그시 색상 변경방법 */
::selection,
::-moz-selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}


/*font*/
@font-face {
    font-family: 'nanum_gothic';
    src: url("./../../assets/font/Nanum_Gothic/NanumGothic-Regular.ttf");
}

@font-face {
    font-family: 'nanum_gothic_bold';
    src: url("./../../assets/font/Nanum_Gothic/NanumGothic-Bold.ttf");
}

@font-face {
    font-family: 'nanum_gothic_extra_bold';
    src: url("./../../assets/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf");
}

@font-face {
    font-family: 'gamja_flower';
    src: url("./../../assets/font/Gamja_Flower/GamjaFlower-Regular.ttf");
}

.m-input {
    width: 100%;
    border-radius: 10px;
    height: 35px;
    border: 1px solid #D1D5DB;
    padding: 10px;
}

.c-select {
    display: flex;
    flex: 1;
}

.c-select-div {
    width: 100%;
    border-radius: 10px;
    height: 35px;
    border: 1px solid #D1D5DB;
    display: flex;
    color: #6B7280;
    font-size: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.c-select-name {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    overflow: hidden;
}

.c-select-arrow {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px 0px 0px;
}

.c-select-arrow > div {
    position: absolute;
}

.c-select-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 130%;
    width: 100%;
    z-index: 1;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.c-select-list > div {
    padding: 10px 20px;
    border-left: 1px solid #D1D5DB;
    border-right: 1px solid #D1D5DB;
    border-bottom: 1px dashed #D1D5DB;
    width: 100%;
    overflow: overlay;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.c-select-list > div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.c-select-list > div:hover {
    background-color: rgb(217, 238, 255);
}

.c-select-list > div:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #D1D5DB;
}

.c-select-list > div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #D1D5DB;
}

.under-arrow-animation {
    writing-mode: vertical-rl;
}
