.management-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A72C3;
}

.login-form {
    width: 40%;
    height: 70%;
    background-color: white;
}