.side-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-modal-container {
    width: 90%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
}

.side-modal-close-btn {
    position: fixed;
    left: 1%;
    top: 1%;
}